<div class="main">
    <div class="header">
        <h2>This is MFE Word Card Deck Component | GlobalState: {{globalState?.item}} LocalState: {{localState?.item}}</h2>
    </div>

    <div *ngFor="let wordCardDeck of parentData">
        <h3>{{ wordCardDeck.wordCardDeckName }}</h3>
        <ul>
            <li *ngFor="let wordCard of wordCardDeck.wordCardList">
              {{ wordCard.name }}
            </li>
        </ul>
    </div>
    <input type="text" id="item-input" #newItem>
    <button type="button" (click)="addNewItem(newItem.value)">Send To Parent</button>
    <br/>
    <input type="text" id="global-input" #newGlobalItem>
    <button type="button" (click)="addNewGlobalItem(newGlobalItem.value)">Update Global Data</button>
    <br/>
    <input type="text" id="global-input" #newLocalItem>
    <button type="button" (click)="addNewLocalItem(newLocalItem.value)">Update Local Data</button>
</div>
